@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
body {
	font-family: 'Open Sans', sans-serif;
	font-display: fallback;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border -box;
}
.container {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(94, 104, 107);
	}
	
.content{
	border-radius: 30px;
	background-color:rgb(48, 71, 71);
	widows: 60%;
	height: 700px;
    display: flex;
    flex-direction: column;
	justify-content: space-between;
	align-items:center;
	position: relative;
}	

.content::before{
	border-radius: 0px 0px 30px 30px;
	content:"";
	position:absolute;
	background-color: #a0a0a0;
	height: 30%;
    width: 80%;
	
	left: 10%;
}



.title{
	color: #000000;
	font-size: 18px;
	font-weight: bold;
	text-transform: capitalize;
	line-height: 30px;
}

.title-primary{
	color: #ffffff;
	font-size: 24px;
}

	
.title-second{
	color: #ffffff;
    font-size: 24px;
    text-align: center;
}

.description{
	color:#404040;
	font-size :14px;
	font-weight: 300;
	line-height: 30px;
}



.description-primary{
	font-weight: 700;
}

.description-second{
    font-weight: 500;
    color: #A0A0A0;
}

.btn{
	border-radius: 20px;
	border: 1px solid #A0A0A0;
	text-transform: uppercase;
	color: #A0A0A0;
	background-color: transparent;
	font-size: 12px;
	font-weight: 700;
	padding: 5px 30px;
	margin: 1rem;
	cursor: pointer;
	width: 150px;
	align-self: center;
	transition: background-color 1s;
}

.btn-primary{
	color: rgb(48, 71, 71);
	border: 1px solid rgb(48, 71, 71);
	
}





.btn-primary:hover{
	background-color: rgb(48, 71, 71);
	color: #A0A0A0;
}

.btn-second:hover{
	background-color: #A0A0A0;
	color: rgb(48, 71, 71);
}

.first-content{
    display:flex;
	
}

.first-content .second-column{
	z-index: 12;
}

.second-content{
	position: absolute;
	display: flex;
}	

.second-content .first-column {
	order: 2;
	z-index: -1;
}

.second-content .second-column {
	order: 1;
	z-index: -1;
}

.first-column{
    padding: 5%;
	text-align: center;
	/*flex: 1 0 auto;*/
	width:70%;
	z-index: 10;
}


.second-column{
	/*flex: 2 0 auto;*/
	width:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-social-media{
	display: flex;
	list-style-type:none;
	justify-content: center;
}

.social-media{
	margin: 1rem 0rem;
}

.link-social-media:not(:first-child){
	margin-left: 15px;
}

.link-social-media:hover .item-social-media{
	color: #ffffff;
	background-color: #A0A0A0;
}

.item-social-media{
	border: 1px solid #A0A0A0;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #A0A0A0;
	transition: background-color 1s;
}




.form {
	display: flex;
	flex-direction: column;
	width: 80%;
}

input:-webkit-autofill{

	-webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
	-webkit-text-fill-color: #000 !important;
}

.form input{
	height:40px;
	border-radius: 10px;
	border: none;
	background-color: #e6e6e6;
	margin: 2px;
	width: 100%;
}

.label-input{
	background-color: #e6e6e6;
	display: flex;
	align-items: center;
	margin: 10px; 
}

.icon-modify{
	color: #A0A0A0;
	padding: 0px 4px;
}

/*--------------sign in js--------------------------------*/

.sign-in-js .first-content .first-column, 
.sign-in-js .first-content .second-column{
	z-index: -1;
}

.sign-in-js .second-content .first-column{
	z-index: 13;
} 
.sign-in-js .second-content .second-column{
	z-index: 11;
}
 /*SLIDE Signin*/
.sign-in-js .content::before{
    top: 60%;
    height:40%;
	border-radius: 30px 30px 0px 0px;
	animation: slideSignin 0.5s;
	z-index: 12;
}

/*SLIDE Show Signin - Hide Signup*/
.sign-in-js .first-content .second-column{
	z-index: -1;
	position: relative;
	animation: showSignin 0.5s;
}

/*----------------sign up js---------------------------------*/

.sign-up-js .second-content .first-column, 
.sign-up-js .second-content .second-column{
	z-index: -1;
}

.sign-up-js .first-content .first-column{
	z-index: 13;
} 
.sign-up-js .first-content .second-column{
	z-index: 11;
}
/*SLIDE Signup*/
.sign-up-js .content::before{
	left: 10%;
	border-radius: 0px 0px 30px 30px;
	animation: slideSignup 0.5s;
	z-index: 12;
}

/*SLIDE Show Signup - Hide Signin*/
.sign-up-js .second-content .second-column{
	z-index: -1;
	position: relative;
	animation: showSignup 0.5s;
}


/*------------------SLIDE Signin-------------------------------*/
@keyframes slideSignin{
	
	 from{
             top: 0px;
             height:30%;
	 }
	 
	 25%{
             
             top: 0px;
             height:40%;
	 }
	 
	 50%{
            top: 10%;
	 		height:90%;
	 }
	 
	 75%{
            top: 50%;
	 		height:50%;
	 }
	 
	 to{
            top: 60%;
	 		height:40%;
	 }
	
}

/*------------------SLIDE Signup-------------------------------*/
@keyframes slideSignup{
	
	 from{
            top: 60%;
            height:40%;
	 		
	 }
	 
	 25%{
            top: 50%;
	 		height:50%;
	 		
	 }
	 
	 50%{
            top: 0px;
	 		height:90%;
	 }
	 
	 75%{
	 		
            top: 0px;
	 		height:40%;
	 }
	 
	 to{
	 		
            top: 0px;
	 		height:30%;
	 }
	
}

/*------------------SLIDE Show Signin - Hide Signup--------------------------------*/


@keyframes showSignin{
	
	 from{
	 	top:0px;
	 	z-index: 11;
	 		
	 }
	 
	 
	 50%{
	 	top:-20%;
	 	z-index: 11;	
	 	opacity:0;
	 }
	 	 
	 
	 to{
	 	top:-30%;
	 	z-index: -1;
	 	opacity:0;	
	 }
	
}

/*------------------SLIDE Show Signup - Hide Signin--------------------------------*/

@keyframes showSignup{
	
	 from{
	 	top:0px;
	 	z-index: 11;
	 		
	 }
	 
	 
	 
	 50%{
	 	top: 20%;
	 	z-index: 11;	
	 	opacity:0;	
	 }
	 
	
	 
	 to{
	 		top:30%;
	 		z-index: -1;
	 		opacity:0;		
	 }
	
}